h1 {
    font-size: 30px;
    color: aquamarine;
}

h2 {
    font-size: 20px;
    color: blueviolet;
}

.clase_01 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.clase_02 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
}

.clase_03 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: chocolate;
}